* { box-sizing: border-box; }


@font-face {
  font-family: esseltub;
  src: url("../esseltub_regular-webfont.woff") format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0 auto;
  overflow: hidden;
}
.home{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(68,53,91,1) 0%, rgba(49,38,62,1) 100%);
}
#header{
font-size: 5em;
color: #FFBC42;
position: absolute;
font-weight: 800;
top: 1vh;
left: 12.5%;
font-family: esseltub;
}
#header-offset{
  color: #37FF8B;
  position: absolute;
  top: 100%;
  left: 30%;
}
.autocomplete {
  display: inline-block;
  width: 70%;
  left: 15%;
  position: absolute;
}
#departure-search{
  bottom: 50%;
}
#decor{
  position: absolute;
  bottom: 40%;
  margin: 0 auto;
  font-size: 3em;
  left: 40%;
  color: #FFBC42;
  font-family: esseltub;

}
#route-search{
  bottom: 30%;
}
::placeholder {
  color: gray;
}
input {
  border: 2px solid #FFBC42;
  box-shadow: inset -5px -5px 25px gray;
  background-color: white;
  border-radius: 15px;
  color: black;
  font-weight: 600;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  
}
input[type=text] {
  width: 100%;
  z-index: 1;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #37FF8B;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: none;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 90%;
  max-height: 40vh;
  z-index: 999;
  margin: 0 auto;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  overflow: scroll;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;

}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  color: #37FF8B;
}

#btn-home{
  opacity: 0;
  background-color: #FFBC42;
  border-radius: 15px;
  position: absolute;
  padding: 1vh 2vw;
  bottom: 2.5%;
  right: 3%;
  color: rgba(49,38,62,1);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-decoration: none;
}

#tables{
    height: 90vh;
    position: relative;
    z-index: 0;
    background: radial-gradient(circle, rgba(49,38,62,1) 0%, rgba(34,30,34,1) 100%);    padding-top: 5%;
    overflow-y: scroll;
  }
  .timetable{
    text-align: left;
    background: radial-gradient(circle, rgba(68,53,91,1) 0%, rgba(49,38,62,1) 100%);
    width: 70%;
    margin: 10% auto;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px 50px 10px;
    padding: 2% 10%;
    font-family: esseltub;
  }
  .timetable-inner{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-column-gap: .5em;
    line-height: 1.2em;
    overflow: hidden;
    color: #37FF8B;
    padding: 2%;
    align-items: center;    
  }
  .line-number{
    color: #37FF8B;
    grid-column: 1;
    font-size: 2rem;
    margin: 0;
  }
  h2{
    text-align: center;
    color: #FFBC42;
  }
  .display-time{
    color: white;
  }

  .route{
    background: radial-gradient(circle, rgba(68,53,91,1) 0%, rgba(49,38,62,1) 100%);
    height: fit-content;
    padding: 1% 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 auto;
    border-radius: 15px;
    line-height: 1.5rem;
    border:solid 2px #37FF8B;
    width: 60%;

  }
  .duration{
    text-align: right;
    color: lightgray;
  }
  .border{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 20%;
  }
  
  .border-line{
    border-right: solid 5px #FFBC42;
    position: absolute;
    right: 50%;
    z-index: -1;
    height: 50%;
  }
  .transport-mode{
    margin: 0 auto;
    top: 30%;
    position: relative;
    text-align: center;
    font-family: esseltub;
    font-size: 2.5rem;
    color: white;
    
  }

